[run]
# Do not measure python code that was installed with the python interpreter
cover_pylib = False
branch = False

source =
    gym_gui_environments.pyside_gui_environments.src.backend

omit =
    */gym_gui_environments/pyside_gui_environments/src/backend/__init__.py
    */gym_gui_environments/pyside_gui_environments/src/backend/ascii_art.py

[report]
exclude_lines =
    pragma: no cover
    import
    from