[run]
# Do not measure python code that was installed with the python interpreter
cover_pylib = False
branch = False

source =
    envs/gui_env/src/backend

omit =
    envs/gui_env/src/*__init__*
    envs/gui_env/src/backend/ascii_art.py

[report]
exclude_lines =
    pragma: no cover
    import
    from